.navbar{
	border-radius: 0;
}
.sidebarprofil{
	width: 100%;
	padding-left: 0;
    margin-bottom: 20px;
	box-shadow: 0 1px 2px rgba(0,0,0,.075);
	border-radius: 4px;
	border: 1px solid #ddd;
	overflow: hidden;
}
.formlocationinprofile{
	margin-top: -55px;
	width: 
}
.pavatar{
	width: 100px;
	box-shadow: 0 2px 3px #a94442;
	margin-top: -50px;
	margin-left: 15px;
	margin-bottom: 10px;
	position: relative;
}
.profilavatar{ 
	width: 170px; 
	height: 170px; 
	margin-top: 200px; 
	margin-left: 30px; 
	position: absolute; 
	box-shadow: 0 4px 5px #a94442; 
} 
.profilavatarmaster{ 
  width: 20px; 
  height: 20px; 
} 
.pcover{
	height: 197px;
	background: url(../img/cover.png);
	background-size: 100%;
	margin-left: -2px;
	border-bottom: 1px solid #ddd;
	background-repeat: no-repeat;
}
.profilcover{
	height: 300px;
	background: url(../img/cover.png);
	background-size: 100%;
	background-position: center;
	margin-bottom: 10px;
	border-radius: 4px;
	margin-bottom: 100px;
	background-repeat: no-repeat;
}
.pname{
	text-decoration: none;
	color: #a94442;
	margin-top: 10px;
}
.ppname{
	position: absolute;
	margin-top: 315px;
	margin-left: 220px;
}
.pname a{
	text-decoration: none;
	color: #a94442;
	font-weight: 700;
	font-size: 17px;
	-webkit-transition: 1s; /* For Safari 3.1 to 6.0 */
    transition: 1s;
}
.pname a:hover{
	text-decoration: none;
	color: #d9534f;
}
a.ppname{
	text-decoration: none;
	color: #a94442;
	-webkit-transition: 1s; /* For Safari 3.1 to 6.0 */
    transition: 1s;
}
a.ppname:hover{
	text-decoration: none;
	color: #d9534f;
}

.projects{
	color: #a94442;
	background-image: linear-gradient(to bottom,#f2dede 0,#ebcccc 100%);
	font-weight: bold;
	background-color: #f2dede;
	text-shadow: 0px 1px 0px #fff;
}
.ayar{
	color: #fff;
	text-shadow: 0 1px 1px #a94442;
	font-size: 20px;
	margin-top: -4px;
	-webkit-transition: 1s; /* For Safari 3.1 to 6.0 */
    transition: 1s;
}
.ayar:hover{
	color: #a94442;
	text-shadow: 0 1px 1px #fff;
}
.gorevsil{
	background-image: linear-gradient(to bottom,#d9534f 0,#c12e2a 100%);
	background-repeat: repeat-x;
	border-color: #b92c28;
	padding: 10px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: 1px solid #ccc;
    margin-left: -40px;
    visibility: visible;
}
/*Burası file butonu düzenleme alanı*/
.filebox{
	float: right;
	margin-right: -100px;
	margin-top: 220px;
}
.fileboxProfile{ 
  margin-top: 340px; 
  margin-left: 30px; 
  position: absolute; 
} 
.js .inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile + label {
    max-width: 80%;
    font-size: 1.25rem;
    /* 20px */
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 0.625rem 1.25rem;
    /* 10px 20px */
}

.no-js .inputfile + label {
    display: none;
}

.inputfile:focus + label,
.inputfile.has-focus + label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}

.inputfile + label * {
    /* pointer-events: none; */
    /* in case of FastClick lib use */
}

.inputfile + label svg {
    width: 1em;
    height: 1em;
    vertical-align: middle;
    fill: currentColor;
    margin-top: -0.25em;
    /* 4px */
    margin-right: 0.25em;
    /* 4px */
}


/* style 3 */

.inputfile-3 + label {
    color: #d3394c;
    -webkit-transition: 1s; /* For Safari 3.1 to 6.0 */
    transition: 1s;
}

.inputfile-3:focus + label,
.inputfile-3.has-focus + label,
.inputfile-3 + label:hover {
    color: #722040;
}
/* END- Burası file butonu düzenleme alanı*/

/*ANASAYFA*/
.tanit{
	width: 100%;
	height: 600px;
	margin-top: -20px;
	padding:8%;
	margin-bottom: 0;
    transform: skewY(-4.1deg);
    
}
.tanit1{
	height: 450px;
}
.tanit2{
	height: 350px;
	width: 100%;
	margin-top: -10%;
	padding: 18% 8% 8% 8%;
	margin-bottom: 0;
}

.icerik{
	font-size: 30px;
	font-family: 'Signika', sans-serif;
	position: relative;
    transform: skewY(4.1deg);
}
.icerik1{
	font-size: 30px;
	font-family: 'Signika', sans-serif;
}

.gradient1{
	background: linear-gradient(-125deg,#E55D87,#5FC3E4);
	color:#FFF;
	text-shadow: 0 1px 2px #666;
}
.gradient2{
	background: linear-gradient(-125deg,#FFB75E,#ED8F03);
	color:#1A237E;
	text-shadow:0 1px 2px #888 ;
}
.gradient3{
	background: linear-gradient(-125deg,#0cebeb,#20e3b2,#29ffc6);
	color:#FFF;
	text-shadow:0 1px 2px #000 ;
	font-size:20px!important;
	padding-left: 28%;

}
.mm {
    width: 35.333333%;
    margin-top: 0.5%;
    margin-right: -650%;
}
footer {
    height: 50%;
    width: 100%;
    background-color:#263238;
    bottom: 0;
}
.kgiris{
	padding-right: 0;
	padding-left: 0;
}
.kayitw{
	width: 60%;
}
.pkayit{
	padding-top: 20px;
	padding-right: 0;
	padding-left:104px;
	padding-bottom: 50px;
}
.ppanel{
	margin-left:20%;
}
.ppanel1{
	margin-left:30%;
}
.mm1{
	width: 55%;
}
.kullaniciduzenle_cover{
	min-height: 100px;
	background: url(../img/cover.png);
	background-size: 100%;
	background-position: center;
	background-repeat: no-repeat;
}
.kullaniciduzenle_heading{
	padding: 10px 15px;
	padding-left: 70px;
	color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
    background-image: -webkit-linear-gradient(top,#f2dede 0,#ebcccc 100%);
    background-image: -o-linear-gradient(top,#f2dede 0,#ebcccc 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#f2dede),to(#ebcccc));
    background-image: linear-gradient(to bottom,#f2dede 0,#ebcccc 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff2dede', endColorstr='#ffebcccc', GradientType=0);
    background-repeat: repeat-x;
}
.kullaniciduzenle_avatar{
	width: 50px;
	box-shadow: 0 1px 2px #a94442;
	position: absolute;
	margin-left: 10px;
	margin-top: 75px;
}